*,
*::after,
*::before {
  margin: 0%;
  padding: 0%;
  box-sizing: inherit; 
}

html {
    font-size: 62.5%; 
}

.whiteColor{
    color: white;
    /* color: black; */
}
.darkColor{
    color: black;
}

.backgroundDark{
    background-color: rgba(255, 255, 255, 0.6)

}
.textCenter{
    text-align: center;
}



body {
    /* box-sizing: border-box;  */
}








body{

}
#header{
    z-index: 1;

    height: 100vh;
    background-image: linear-gradient(to right bottom, rgba(255, 250, 243, 0.3), rgba(130, 135, 131, 0.4)), url("../img/43913221_2522542031305362_7291664536755232144_n(1).jpg");
    background-repeat: repeat ;
    background-size: cover;
    background-position: center;
    /* position: absolute;
    top: 100px;
    left: 50vw; */
    /* -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-attachment: fixed; */
}

.header__logo-box {
    position: absolute;
    top: 9rem;
    left: 47%; 
    transform: translate(-50%, -50%);
}

.header__logo {
    height: 15rem; 
}

.header__tex-box {
    position: absolute;
    top: 50%;
    left: 52%;
    transform: translate(-50%, -50%);
    text-align: center; 
}



.heading-primary {
    color: black;
    text-transform: uppercase;
    backface-visibility: hidden;
    margin-bottom: 6rem; 
}
.heading-primary--main {
  display: block;
  font-family: 'Charm', cursive;
  font-family: 'Coustard', serif;
  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  /*
      animation-iteration-count: 3;    
       animation-delay: 3s; */ 
}
.heading-primary--sab {
  font-family: 'Charm', cursive;
  font-family: 'Coustard', serif;
  display: block;
  animation: moveInRight 1s ease-in-out; 
}


.main{

}

.header__title{
    padding-top: 5vh;
}

.LineHeaderTitle{
    width: 25vw;
    margin: 0 auto;
    background-color: white;
}

.sub__title{
    padding-top: 3vh;
}

.LineHeaderSubTitle{
    width: 90vw;
    margin: 0 auto;
    background-color: white;
}

.ItemContent{
    min-height: 20vh;
    border: 1px solid rgb(161, 161, 161);
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.281);
    margin: 10vw 10vw 0 10vw ;
}


.headerContentMenu{
    padding: 2vh;
}

.ContentMenu{
    float: right;
    margin-right: 4vw;
    direction: rtl;
}


.clearFloat{
    clear: both;
}

.price{
     padding: 5vw;
}

.about{
    padding: 5vh;
    background-color: black;
}

.aboutContant{
    color: rgb(167, 164, 164);
}

.fixed{
    position: fixed;
    font-size: 20px;
}



@keyframes moveInLeft {
    0% {
      opacity: 0;
      /* transform: translateX(-10rem)rotate(-180deg); */
      transform: translateX(-10rem); }
    /* 60%{
          transform: scale(sx ,sy)
      } */
    80% {
      transform: translateX(1rem); }
    100% {
      opacity: 1;
      transform: translate(0); } 
}
  
  @keyframes moveInRight {
    0% {
      opacity: 0;
      transform: translateX(1rem); }
    80% {
      transform: translateX(-1rem); }
    100% {
      opacity: 1;
      transform: translate(0); } 


}